<h1>Favorite Pets Index</h1>
<% if favorite.contents.empty? %>
  <p>You have not added any pets.</p>
<% else %>
  <% favorite.contents.keys.each do |pet_id| %>
    <section id="pets-<%= pet_id %>">
      <% pet = Pet.find(pet_id) %>
      <%= link_to "#{pet.name}", "/pets/#{pet_id.to_i}"%><br>
      <%= image_tag "#{pet.image}" %><br>
      <%= button_to "Remove from Favorites", "/favorites/#{pet.id}", method: :delete %>
    </section>
  <% end %>
<% end %>
