<h1>Favorite Pets Index</h1>

<% favorite.contents.keys.each do |pet_id| %>
  <% pet = Pet.find(pet_id) %>
  <%= link_to "#{pet.name}", "/pets/#{pet_id.to_i}"%><br>
  <%= image_tag "#{pet.image}" %><br>
<% end %>
